
:root{
    font-size: 16px;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{

    background: #FAFAFA;
    width: 100vw;
    overflow-x: hidden;
}

.content h1{
    height: 3.5rem;
    margin-left: 2.4rem;
    margin-top: 6.5rem;
    margin-bottom: 4.4rem;
    font-family: 'PT Serif';
    font-style: normal;
    font-weight: 700;
    font-size: 6.5rem;
    line-height: 60px;
    letter-spacing: -0.045em;
    color: #000000;
}

.content h2{
    font-family: 'Poppins';
    font-style: normal;
    margin-left: 2.4rem;
    margin-bottom: 2.4rem;
    font-weight: 600;
    font-size: 2.6rem;
    line-height: 27px;
    text-transform: uppercase;
}

.content .description{
    width: 36.5rem;
    font-family: 'Poppins';
    font-style: normal;
    margin-left: 2.4rem;
    margin-bottom: 4.4rem;
    font-weight: 400;
    font-size: 1.5rem;
    line-height: 37px;
}

.cards{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    margin-left: 2.4rem;
}
.card{
    margin-right: 40px;
    margin-bottom: 60px;

}
.card:nth-child(2n) img{
    padding-top:80px;  
 
} 
.card img{
    width: 330px;
    margin-bottom: 20px;
   
}

.card .name{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 1.7rem;
    line-height: 21px;
    color: #000000; 
}

.card .work{
    position: absolute;
    width: 224px;
    height: 11px;
    margin-left: 234px;
    margin-top: -392px;
    font-family: 'PT Serif';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 13px;
    text-transform: uppercase;
    color: #000000;
    transform: rotate(90deg);
}

footer p{
    width: 287px;
    height: 17px;
    margin-left: 46px;
    margin-top: 38px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
   text-align: center;
    color: #A9A9A9;
}

@media(min-width:1199px){
  .content{
      display: flex;
      justify-content: flex-start;
      align-items: baseline;
      gap:180px;
      margin-left: 100px;
  }
  .content h1{
    font-size: 4.5rem;
  }
  .content h2{
    font-size: 1.8rem;
  }
  .cards{
    grid-template-columns: repeat(3,1fr);
    margin-left: 100px; 
  }
}

@media (max-width:857px) {
    .cards{
        grid-template-columns: repeat(1,1fr);
      }

      .content h1{
        font-size: 4rem;
        width: 800px;
    }
    
}